@using Store.Data.Entities.Product
@model AdminCreateProductGroup


<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                       <h4>مدیریت گروه ها و محصولات</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic Horizontal form layout section start -->
            <section>
                <div class="row ">
                    <div class="col-md-6 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">افزودن گروه محصولات</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form asp-controller="ManageProduct" asp-action="ProductGroup" method="post">
                                        <input asp-for="Title" class="form-control" type="text" />
                                        <span asp-validation-for="Title"></span>
                                        <button class="btn btn-primary" type="submit">افزودن</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        @await Component.InvokeAsync("ProductGroupList", false)
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>










