<!DOCTYPE html>
<html lang="fa">

<head>
    <partial name="_Metas" />
    <title>Store</title>
    <partial name="_Styles" />
</head>

<body>
    <div class="wrapper">

        <!-- Start header -->
        <partial name="_Header" />
        <!-- End header -->
        <!-- Start main-content -->
        @RenderBody()
        <!-- End main-content -->
        <!-- Start footer -->
        <partial name="_Footer" />
        <!-- End footer -->

    </div>
    <partial name="_Scripts" />
</body>

</html>