@model ProductShowCard

    
        <div class="card text-center bg-dark bg-lighten-2">
            <div class="card-content d-flex">
                <div class="card-body" style="height: auto">

                    <img src="/ProductImages/@Model.ImageTitle" alt="element 06" height="150" class="mb-1">

                    <h4 class="card-title white">@Model.PersianName</h4>
                    <h4 class="card-title white">@Model.EnglishName</h4>
                    <h4 class="card-title white">@Model.Price تومان</h4>
                    
                    
                </div>
            </div>
        </div>

   
